<mat-drawer-container class="example-container" autosize>
    <mat-drawer
        #drawer
        class="example-sidenav"
        mode="side"
        aria-label="Auto-resizing sidenav"
        [attr.aria-expanded]="drawer.opened ? 'true' : 'false'"
    >
        <p>Auto-resizing sidenav</p>
        <div *ngIf="showFiller">
            <p>Lorem, ipsum dolor sit amet consectetur.</p>
        </div>
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button>
    </mat-drawer>

    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button>
    </div>
</mat-drawer-container>
