<div matRipple matRippleColor="cyan" class="ripple-container" role="button" tabindex="0" aria-labelledby="selection-description">
  <p id="selection-description">Das ist eine Auswahl</p>
</div>
<div>
  <mat-chip-set aria-labelledby="selection-description" aria-label="Auswahl der Förderungen" role="listbox">
    <mat-chip *ngFor="let chip of chips"
              [removable]="true"
              [class.selected]="chip.selected"
              (click)="toggleSelection(chip)"
              tabindex="0"
              role="option"
              [attr.aria-selected]="chip.selected">
      {{ chip.name }}
    </mat-chip>
  </mat-chip-set>
</div>
