<mat-accordion>
    <!-- Erstes Panel -->
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <!-- Titel des Panels mit einer klaren Beschreibung -->
            <mat-panel-title> Titel des Panels </mat-panel-title>
            <mat-panel-description>
                Eine detaillierte Beschreibung des Inhalts dieses Panels.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- Inhalt des Panels -->
        <p>Hier finden Sie detaillierte Informationen zum Thema des Panels.</p>
    </mat-expansion-panel>

    <!-- Zweites Panel -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <!-- Titel des zweiten Panels -->
            <mat-panel-title> Zweites Panel </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- Inhalt des zweiten Panels -->
        <app-checkbox></app-checkbox>>
    </mat-expansion-panel>
</mat-accordion>
