<nav>
    <mat-toolbar
        color="primary"
        aria-label="Empirische Untersuchung zur Material Library"
    >
        <span>Empirische Untersuchung zur Material Library</span>
        <span class="spacer"></span>

        <!-- Home Button mit Icon und Badge -->
        <button
            mat-icon-button
            aria-label="Startseite (5 neue Benachrichtigungen)"
            (click)="setView('home')"
            matBadge="5"
            matBadgeOverlap="false"
        >
            <mat-icon>home</mat-icon>
        </button>

        <!-- Expansion Button -->
        <button
            mat-button
            aria-label="Expansion"
            (click)="setView('expansion')"
        >
            Expansion
        </button>
    </mat-toolbar>
</nav>

<!-- Container für Home-Komponente -->
<div *ngIf="currentView === 'home'">
    <!-- Fügen Sie hier die Home-Komponente direkt ein -->
    <app-selectfield *ngIf="currentView === 'home'"></app-selectfield>
</div>
