<div class="Menupunkte">
    <button
        mat-button
        [matMenuTriggerFor]="animals"
        aria-haspopup="true"
        aria-controls="animalsMenu"
    >
        Tierarten Menüpunkt
    </button>
    <mat-menu #animals="matMenu" id="animalsMenu" aria-label="Tierarten Menü">
        <button
            mat-menu-item
            [matMenuTriggerFor]="vertebrates"
            aria-haspopup="true"
            aria-controls="vertebratesMenu"
        >
            Vertebrates
        </button>
        <button
            mat-menu-item
            [matMenuTriggerFor]="invertebrates"
            aria-haspopup="true"
            aria-controls="invertebratesMenu"
        >
            Invertebrates
        </button>
    </mat-menu>

    <mat-menu
        #vertebrates="matMenu"
        id="vertebratesMenu"
        aria-label="Vertebrates Menü"
    >
        <button
            mat-menu-item
            [matMenuTriggerFor]="fish"
            aria-haspopup="true"
            aria-controls="fishMenu"
        >
            Fishes
        </button>
        <button
            mat-menu-item
            [matMenuTriggerFor]="amphibians"
            aria-haspopup="true"
            aria-controls="amphibiansMenu"
        >
            Amphibians
        </button>
        <button
            mat-menu-item
            [matMenuTriggerFor]="reptiles"
            aria-haspopup="true"
            aria-controls="reptilesMenu"
        >
            Reptiles
        </button>
        <button mat-menu-item>Birds</button>
        <button mat-menu-item>Mammals</button>
    </mat-menu>

    <mat-menu
        #invertebrates="matMenu"
        id="invertebratesMenu"
        aria-label="Invertebrates Menü"
    >
        <button mat-menu-item>Insects</button>
        <button mat-menu-item>Molluscs</button>
        <button mat-menu-item>Crustaceans</button>
        <button mat-menu-item>Corals</button>
        <button mat-menu-item>Arachnids</button>
        <button mat-menu-item>Velvet worms</button>
        <button mat-menu-item>Horseshoe crabs</button>
    </mat-menu>

    <mat-menu #fish="matMenu" id="fishMenu" aria-label="Fishes Menü">
        <button mat-menu-item>Baikal oilfish</button>
        <button mat-menu-item>Bala shark</button>
        <button mat-menu-item>Ballan wrasse</button>
        <button mat-menu-item>Bamboo shark</button>
        <button mat-menu-item>Banded killifish</button>
    </mat-menu>

    <mat-menu
        #amphibians="matMenu"
        id="amphibiansMenu"
        aria-label="Amphibians Menü"
    >
        <button mat-menu-item>Sonoran desert toad</button>
        <button mat-menu-item>Western toad</button>
        <button mat-menu-item>Arroyo toad</button>
        <button mat-menu-item>Yosemite toad</button>
    </mat-menu>

    <mat-menu #reptiles="matMenu" id="reptilesMenu" aria-label="Reptiles Menü">
        <button mat-menu-item>Banded Day Gecko</button>
        <button mat-menu-item>Banded Gila Monster</button>
        <button mat-menu-item>Black Tree Monitor</button>
        <button mat-menu-item>Blue Spiny Lizard</button>
        <button mat-menu-item disabled>Velociraptor</button>
    </mat-menu>
</div>
