<div class="container rand">
  <div class="form-section">
    <mat-form-field appearance="fill">
      <mat-label>Bitte Text eintragen</mat-label>
      <input matInput placeholder="Text hier" [formControl]="inputControl">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="updateCard()" 
            matTooltip="Der oben eingetragene Text erscheint unten"
            aria-label="Button, der den Text aus dem Eingabefeld in der Card anzeigt.">
      Übermitteln

    </button>
  </div>

  <div class="card-section">
    <mat-card>
      <mat-card-title>Eingetragener Text</mat-card-title>
      <mat-card-content>
        {{ cardText }}
      </mat-card-content>
    </mat-card>
  </div>
</div>

