.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 16px;
}

.form-section, .card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
    padding-top: 20px;
}

.rand {
   border-style:solid;
   border-width: 4px;
   border-color: black;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}