@import "../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

.custom-outline {
    border-style: solid;
    border-color: black !important; /* Farbe der Umrandung */
    border-width: 6px !important; /* Dicke der Umrandung */
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 20px;
}
