<div><app-menupunkt></app-menupunkt></div>
<main class="title">
    <div><app-seitenleiste></app-seitenleiste></div>
    <div>
        <div><h1>Das ist der empirische Teil der Bachelorarbeit!</h1></div>
        <div class="image">
            <img
                src="assets/Untergang.jpg"
                aria-label="Ein atemberaubender Sonnenuntergang, gesehen von der Basteibrücke."
                alt="Ein atemberaubender Sonnenuntergang, gesehen von der Basteibrücke."
                width="300"
                height="450"
                class="box"
            />
        </div>
        <div><app-textfeld></app-textfeld></div>
    </div>
</main>

<router-outlet />
