<mat-tab-group
    aria-label="Beispiel Tab Gruppe"
    (selectedIndexChange)="onTabChange($event)"
>
    <ng-container *ngFor="let tab of asyncTabs | async">
        <mat-tab [label]="tab.label">
            <ng-template matTabContent>
                <div *ngIf="tab.label === 'Gridliste'">
                    <app-gridgitter></app-gridgitter>
                </div>
                <div *ngIf="tab.label === 'Angular Dateistruktur'">
                    <app-file-tree></app-file-tree>
                </div>
                <div *ngIf="tab.label === 'Tab 3'">
                    <div class="image">
                        <img
                            src="assets/Untergang.jpg"
                            aria-label="Ein atemberaubender Sonnenuntergang, gesehen von der Basteibrücke."
                            width="300"
                            height="450"
                            class="img"
                        />
                    </div>
                </div>
            </ng-template>
        </mat-tab>
    </ng-container>
</mat-tab-group>

<!-- Material Progress Bar -->
<mat-progress-bar
    mode="determinate"
    [value]="progressValue"
    role="meter"
    [attr.aria-valuemin]="0"
    [attr.aria-valuemax]="100"
    [attr.aria-valuenow]="progressValue"
    [attr.aria-label]="'Fortschritt: ' + progressValue + '%'"
>
</mat-progress-bar>
