<mat-tab-group aria-label="Beispiel Tab Gruppe" (selectedIndexChange)="onTabChange($event)">
  <mat-tab label="Gridliste">
    <div id="gridliste-panel">
      <app-gridgitter></app-gridgitter>
    </div>
  </mat-tab>
  <mat-tab label="Angular Dateistruktur">
    <div id="dateistruktur-panel">
      <app-file-tree></app-file-tree>
    </div>
  </mat-tab>
  <mat-tab label="Tab 3">
    <div id="tab3-panel">
      <p>Content 3</p>
    </div>
  </mat-tab>
</mat-tab-group>

<!-- Material Progress Bar -->
<mat-progress-bar mode="determinate" [value]="progressValue" aria-label="Visuelle Unterstützung zur Bestimmung des aktiven Tabs"></mat-progress-bar>
