<h2 id="hauptstaedte-osterreich">Landeshauptstädte von Österreich</h2>
<dl aria-labelledby="hauptstaedte-osterreich">
    <dt id="burgenland-group">Burgenland</dt>
    <dd>Eisenstadt</dd>

    <dt id="kaernten-group">Kärnten</dt>
    <dd>Klagenfurt</dd>

    <dt id="niederoesterreich-group">Niederösterreich</dt>
    <dd>St. Pölten</dd>

    <dt id="oberoesterreich-group">Oberösterreich</dt>
    <dd>Linz</dd>

    <dt id="salzburg-group">Salzburg</dt>
    <dd>Salzburg</dd>

    <dt id="steiermark-group">Steiermark</dt>
    <dd>Graz</dd>

    <dt id="tirol-group">Tirol</dt>
    <dd>Innsbruck</dd>

    <dt id="vorarlberg-group">Vorarlberg</dt>
    <dd>Bregenz</dd>

    <dt id="wien-group">Wien</dt>
    <dd>Wien</dd>
</dl>
