dl {
    font-family: Arial, sans-serif;
}

dt {
    font-weight: bold;
    margin-top: 10px;
}

dd {
    margin-left: 20px;
    margin-bottom: 10px;
}

div[role="group"] + div[role="group"] {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
}

.dialog {
    display: flex;
    justify-content: center; /* Horizontale Zentrierung */
    align-items: center; /* Vertikale Zentrierung */
    height: 100px; /* Höhe des Elternelements auf die volle Ansichtshöhe setzen */
}
