<h2 id="hauptstaedte-osterreich">Landeshauptstädte von Österreich</h2>
<dl aria-labelledby="hauptstaedte-osterreich">
    <div role="group" aria-labelledby="burgenland-group">
        <dt id="burgenland-group">Burgenland</dt>
        <dd>Eisenstadt</dd>
    </div>
    <div role="group" aria-labelledby="kaernten-group">
        <dt id="kaernten-group">Kärnten</dt>
        <dd>Klagenfurt</dd>
    </div>
    <div role="group" aria-labelledby="niederoesterreich-group">
        <dt id="niederoesterreich-group">Niederösterreich</dt>
        <dd>St. Pölten</dd>
    </div>
    <div role="group" aria-labelledby="oberoesterreich-group">
        <dt id="oberoesterreich-group">Oberösterreich</dt>
        <dd>Linz</dd>
    </div>
    <div role="group" aria-labelledby="salzburg-group">
        <dt id="salzburg-group">Salzburg</dt>
        <dd>Salzburg</dd>
    </div>
    <div role="group" aria-labelledby="steiermark-group">
        <dt id="steiermark-group">Steiermark</dt>
        <dd>Graz</dd>
    </div>
    <div role="group" aria-labelledby="tirol-group">
        <dt id="tirol-group">Tirol</dt>
        <dd>Innsbruck</dd>
    </div>
    <div role="group" aria-labelledby="vorarlberg-group">
        <dt id="vorarlberg-group">Vorarlberg</dt>
        <dd>Bregenz</dd>
    </div>
    <div role="group" aria-labelledby="wien-group">
        <dt id="wien-group">Wien</dt>
        <dd>Wien</dd>
    </div>
</dl>
