<!-- textfeld.component.html -->
<h2 id="hauptstaedte-osterreich">Landeshauptstädte von Österreich</h2>

<div *ngIf="pagedItems.length; else noItems">
    <mat-list role="list" aria-labelledby="hauptstaedte-osterreich">
        <ng-container *ngFor="let item of pagedItems">
            <mat-list-item role="listitem">
                <div matLine>{{ item.region }}</div>
                <div matLine class="mat-subheading">{{ item.capital }}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-list>
</div>

<ng-template #noItems>
    <p>Keine Einträge vorhanden.</p>
</ng-template>

<mat-paginator
    [length]="items.length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Liste der Landeshauptstädte Paginator"
    (page)="onPageChange($event)"
>
</mat-paginator>

<!-- Button zum Öffnen des Dialogs -->
<div class="dialog">
    <button
        mat-raised-button
        (click)="openDialog()"
        aria-label="Städte besucht Dialog öffnen"
    >
        Haben sie schon alle Städte besucht?
    </button>
</div>
